<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="tireBean" class="com.zhovnirchuk.practice02.Tire" scope="prototype">
		<constructor-arg value="18"/>
	</bean>
	
	<bean id="truckBean" class="com.zhovnirchuk.practice02.Truck">
		<constructor-arg value="Volvo" />
		<property name="cargo" value="fish" />
		<property name="tires">
			<list>
				<ref bean="tireBean"/>
				<ref bean="tireBean"/>
				<ref bean="tireBean"/>
				<ref bean="tireBean"/>
				<ref bean="tireBean"/>
				<ref bean="tireBean"/>
			</list>
		</property>
	</bean>
	
	<bean id="sedanBean" class="com.zhovnirchuk.practice02.Sedan">
		<constructor-arg value="BMW" />
		<property name="tires">
			<list>
				<ref bean="tireBean"/>
				<ref bean="tireBean"/>
				<ref bean="tireBean"/>
				<ref bean="tireBean"/>
			</list>
		</property>
	</bean>

</beans>
